* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
html {
  background-color: black;
}

.switches {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  gap: 10px;
}

input:focus {
  border: 2px solid #00d600;
  outline: #00d600;
}
.search:focus {
  outline: #ffffff;
}
body {
  background: rgb(11, 11, 11);
  background: linear-gradient(
    0deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(78, 1, 171, 1) 100%
  );
  width: 100vw;
  height: 100%;
}
.navleft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 20px;
}
.main {
  width: 100%;
  height: 100%;
}
.navleft img {
  width: 50px;

  height: 50px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00d600;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00d600;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switches p {
  color: #d9d9d9;
}
.nav {
  justify-content: space-between;
  display: flex;
  background-color: black;
  height: 70px;
  align-items: center;
  color: #d9d9d9;
  padding: 0 20px 0 20px;
}
#selectfrom,
#selectto {
  width: 80%;
  margin: 0px auto 10px auto;
  border: none;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #a4a4a4;
}
.mainbody {
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #121212;
  flex-direction: column;
  background-image: url("Images/back.png");
  padding: 30px 0 0 0;
}
.mainbody h1 {
  color: #d9d9d9;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}

.loginbox {
  background-color: rgb(0, 0, 20, 0.9);

  color: #d9d9d9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 40%;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(104, 0, 189, 1);
  -moz-box-shadow: 0px 0px 16px 3px rgba(104, 0, 189, 1);
  box-shadow: 0px 0px 16px 3px rgba(104, 0, 189, 1);
}
.toggles {
  background-color: #434343;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.search {
  background-color: rgb(0, 214, 0);
  margin: 20px auto 10px auto;
  width: 30%;

  border-radius: 20px;
  border: none;
}
.logintop h1 {
  font-size: 30px;
  color: #bb86fc;
}
.logintop p {
  margin-bottom: 10px;
}
.logintop {
  text-align: center;
  border-bottom: 2px solid #434343;
}
form {
  display: flex;
  flex-direction: column;
}
.loginbottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  margin: 10px 5px 5px 0px;
}
input {
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  margin: 5px 5px 0px 5px;
}
button {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 20px;
}
.footer {
  background-color: black;
  color: #d9d9d9;
  text-align: center;
  padding: 20px;
}
.footer h2 {
  margin: 10px;
}
.footer ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .loginbox {
    width: 70%;
  }
  .mainbody {
    width: 100%;
  }
  .footer ul {
    flex-direction: column;
    align-items: center;
  }
}
